.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
button {
    border: none; /* Supprime la bordure */
    outline: none; /* Supprime la mise en évidence au focus */
    background-color: white;
  }
.centered h1 {
    font-size: 3rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 5px;
}

.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 2em;
}

#consult {
    top: 25px;
    left: 13%;
    width: 75%;
    height: 100%;
}